body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: whitesmoke;

}
p{
    text-align: justify;
}
#paragraph-type1{
    color: #444444;
    font-size: 18px;
}

#paragraph-type2{
    color: #444444;
    font-size: 16px;
}
.navbar{
    display: flex;
    position: sticky;
    right:0;
    left: 0;
    top:0;
    justify-content: space-between;
    z-index:1000;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.navbar ul{
    list-style-type: none; 
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navbar ul li{display: inline-block;}

.navbar ul li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: cursive;
    border: 2px solid transparent;
    transition: all .55s ease; 
}

.navbar ul li a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 15px;
    transform: translateX(8px);
}

.contact-row{
    display: flex;
    right:0;
    left: 0;
    top:0;
    height: 20vh;
    width: 100%;
    justify-content:center;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.contact-row h4{
    margin-top: 60px;
    margin-right: 5px;
    color: white;
}

.contact-row i{
    width: 25px;
    margin-top: 50px;
    padding: 0px 8px;
    font-size: 35px;
    color: blue;
}