*{
    margin: 0;
    padding :0;
}

.destination-cover{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/church.png"); ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.destination-cover h1{
    color: #fff;
    font-size:55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 40%;
    margin-top: 23%;
}

.destination-info h1{
    text-align: center;
    padding-top: 1%;

}
.destination-info h3{
    padding-top: 3%;
}

.destination-info{margin: 50px 150px;}

.info{
    width: 100%;
    display:flex;
    background-color: white;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 8px;
}

.slider{
    position: relative;
    width: 40%;
    height: 40%;
    overflow: hidden;
}

.images{
    display:flex;
    width: 418px;
    height: 323px;
    background-repeat: no-repeat;
}

.images img {
    padding-top: 0;
    height: 100%;
    width: 418px; /* You can change this to a fixed width value */
    max-width: 100%;
    transition: all 0.15s ease;
}


.images input{display:none;}

.sliderbtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    cursor: pointer;
    height:50px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
}
.sliderbtn:hover{opacity: 1;}

.sliderbtn.prev{left: 10px}

.sliderbtn.next{right: 10px}

.park-beach-container{margin-bottom:300px;}

.row-card{
    width: 530%;
    height: 50vh;
    display: flex;
    margin: 35px auto;
    justify-content: space-between;
}
.photo{
    width: 280px;
    height: 250px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 9px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
}

.photo:hover{
    transform: translateY(10px)
}

.photo:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.photo:hover:before{
    opacity: 1;
}

.photo img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
    position: absolute;
    top: 0;
    left:0;
}

.photo-info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.photo-info:hover{
    opacity: 1;
    transform: translateY(0px);   
}
.photo-info h2{
    margin: 0;
    color:white;
}
.photo-body{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top:8px;
    margin-bottom: 20px;
    color:white;
}

.card{
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.col-card{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    display:inline-block;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    position: relative;
    transition: transform 0.5s;
}

.card1{background-image: url("../images/karls.png");}
.card2{background-image: url("../images/gotis\ ladging\ house.jpeg");}
.card3{background-image: url("../images/LaBella.png");}
.card4{background-image: url("../images/joyland.png");}
.card5{background-image: url("../images/joll.PNG");}
.card6{background-image: url("../images/bento.jpg");}
.card7{background-image: url("../images/dragonHouse.png");}
.card8{background-image: url("../images/Maskinano.png");}
.card9{background-image: url("../images/mama\ vacion.png");}
.card10{background-image: url("../images/caree.png");}
.card-container:hover{transform: translateY(-5px);}

.card-text{
    margin-top: 15px;
    margin-left: 10px;
    color: black;
    font-size: 14px;
    font-weight: 2;
    letter-spacing: 1px;
}
.card-text i{
    color: rgb(114, 9, 9);
}

.description {
    margin-left: 40px;
    width: 45%;
    height: auto;
}
.suitable{
    display: flex;
    justify-content: space-between;
}

.suitable i{
    width: 25px;
    font-size: 20px;
    color: black;
}

.description-text{
    padding: 10px 10px;
}

.rating{
    padding: 5px;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.rating a{
    text-decoration: none;
    color:white;
    background-color:green;
    padding: 3px 20px;
    border-radius:10px;
    background-color: rgba(59, 228, 33,0.90);
}

.rating i{
    color:rgb(254,218,16);
    font-size: 15px;
}